{% extends 'base.html' %}
{% load static %}
{%block title%}{{title}}{% endblock title%}
{%block content%}
<div class="categories">
    <div class="smallContainer">
        <h2 class = "title">{{title}}</h2>
        {% include 'left_nav_bar_categories.html' %}
        <div class="row">
            {% for product in last_three %}
            <div class="col-3">
                <a href="">
                    <img src = "{{product.picture.url}}">
                </a>
                <h4>{{product.name}}</h4>
                <p>${{product.price}}</p>
            </div>   
            {%endfor%}
        </div>
    </div> 
    <div class="row">
        {% for product in all_products %}
        <div class="col-4">
            <a href="">
                <img src = "{{product.picture.url}}">
            </a>
            <h4>{{product.name}}</h4>
            <p>{{product.price}}</p>
        </div>   
        {%endfor%}        
    </div>
</div>

{% endblock content%}
