{% extends 'base.html' %}
{% load static %}
{%block title%}Marketplace{% endblock title%}
{%block content%}
<!--  Latest Added Products  -->
<div class="categories">
    <div class="smallContainer">
        <div  class="leftNavBar">
            <nav class = "leftNav">
                <ul class = "leftUL">
                    <li><h2>Categories</h2></li>
                    <li><a href="">Home Technics ></a></li>
                    <li><a href="">Electronics ></a></li>
                    <li><a href="">Sports ></a></li>
                    <li><a href="">Music & Arts ></a></li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-3">
                <a href="">
                    <img src = "{% static 'images/iphone.png' %}">
                </a>
            </div>
            <div class="col-3">
                <a href="">
                    <img src = "{% static 'images/tv1.jpg' %}">
                </a>
            </div>
            <div class="col-3">
                <a href="">
                    <img src = "{% static 'images/laptop.jpg' %}">
                </a>
            </div>
        </div>
    </div> 
</div>
<!------  Categoris  ------->

<div class="categories">
    <!--  Home Technics  -->
    <h2 class = "title">Home Technics</h2>
    <div class="row">
        <div class="col-4">
            <a href="">
                <img src = "{% static 'images/iphone.png' %}">
            </a>
            <h4>Iphone</h4>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <a href="">
                <img src = "{% static 'images/tv1.jpg' %}">
            </a>
            <h4>TV</h4>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <a href="">
                <img src = "{% static 'images/iphone.png' %}">
            </a>
            <h4>Laptop</h4>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <a href="">
                <img src = "{% static 'images/iphone.png' %}">
            </a>
            <h4>Iphone</h4>
            <p>$50.00</p>
        </div>
    </div>
    <!--  Electronics  -->
    <h2 class = "title">Electronics</h2>
    <div class="row">
        <div class="col-4">
            <a href="">
                <img src = "{% static 'images/iphone.png' %}">
            </a>
            <h4>Iphone</h4>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <a href="">
                <img src = "{% static 'images/tv1.jpg' %}">
            </a>
            <h4>TV</h4>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <a href="">
                <img src = "{% static 'images/laptop.jpg' %}">
            </a>
            <h4>Laptop</h4>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <a href="">
                <img src = "{% static 'images/iphone.png' %}">
            </a>
            <h4>Iphone</h4>
            <p>$50.00</p>
        </div>
    </div>
    <!--  Sports  -->
    <h2 class = "title">Sports</h2>
    <div class="row">
        <div class="col-4">
            <a href="">
                <img src = "{% static 'images/iphone.png' %}">
            </a>
            <h4>Iphone</h4>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <a href="">
                <img src = "{% static 'images/tv1.jpg' %}">
            </a>
            <h4>TV</h4>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <a href="">
                <img src = "{% static 'images/laptop.jpg' %}">
            </a>
            <h4>Laptop</h4>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <a href="">
                <img src = "{% static 'images/iphone.png' %}">
            </a>
            <h4>Iphone</h4>
            <p>$50.00</p>
        </div>
    </div>
    <!--  Music & Arts  -->
    <h2 class = "title">Music & Arts</h2>
    <div class="row">
        <div class="col-4">
            <a href="">
                <img src = "{% static 'images/iphone.png' %}">
            </a>
            <h4>Iphone</h4>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <a href="">
                <img src = "{% static 'images/tv1.jpg' %}">
            </a>
            <h4>TV</h4>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <a href="">
                <img src = "{% static 'images/laptop.jpg' %}">
            </a>
            <h4>Laptop</h4>
            <p>$50.00</p>
        </div>
        <div class="col-4">
            <a href="">
                <img src = "{% static 'images/iphone.png' %}">
            </a>
            <h4>Iphone</h4>
            <p>$50.00</p>
        </div>
    </div>
</div>

{% endblock content%}
