{% extends 'base.html' %}
{% load static %}
{%block title%}Log in{% endblock title%}
{%block content%}
<div class="login-page">
    <div class="login-form">
        <h2 class="form-title">Sign In</h2>
        <form method="POST" action="./?next={{ redirect_to }}"> {% csrf_token %}
            <input type="email" name="email" id="email" placeholder="example@email.com"/>
            <input type="password" name="pass" id="pass" placeholder="Password"/>
            <button>login</button>
        </form>
        <div class = "link">       
            <a href="../registration">Create new account</a>
        </div>
    </div>
</div>
    
{% endblock content%}
