{% extends 'base.html' %}
{% load static %}
{%block title%}Registration{% endblock title%}
{%block content%}
<div class="login-page">
    <div class="login-form">
        <h2 class="form-title">Registration</h2>
        <form method="POST" action="./?next={{ redirect_to }}">{% csrf_token %}
            {% for field in form %}
                <label class="name">{{ field.label }}</label>
                {{ field }}
            {% endfor %}
            <div>
                <button class="link" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>
{% endblock content%}